body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 5vh auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.addUserButton {
    text-align: center;
    margin-bottom: 20px;
}

.addUserButton a {
    text-decoration: none;
    color: #fff;
    background-color: rgb(23, 25, 179);
    padding: 10px 20px;
    border-radius: 5px;
}

.addUserButton a:hover {
    background-color: #0056b3;
}

.userHeader {
    display: flex;
    gap: 30vh;
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: rgb(23, 25, 179);
}

.userList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.userList li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userList div {
    flex: 1;
    margin-right: 10px;
}

.actions {
    display: flex;
    gap: 10px;
}

.editButton, .deleteButton {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.editButton {
    background-color: rgb(23, 25, 179);
    color: white;
}

.editButton:hover {
    background-color: #0056b3;
}

.deleteButton {
    background-color: #dc3545;
    color: white;
}

.deleteButton:hover {
    background-color: #c82333;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .userHeader, .userList li {
        flex-direction: column;
        align-items: flex-start;
        gap: 1vh;
    }

    .userList div {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .actions {
        flex-direction: column;
        width: 100%;
        gap: 1vh
    }

    .editButton, .deleteButton {
        width: 100%;
        
        
    }
}
