* {
    box-sizing: border-box; /* Inclui padding e borda na largura total */
  }
  
  .titleContainer {
    text-align: center;
    margin: 20px 0;
  }
  
  .title {
    font-family: Poppins, sans-serif;
    font-size: 2.5rem;
    color: rgb(23, 25, 179);
  }
  
  .formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 400px; /* Limita a largura do formulário */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9; /* Cor de fundo do formulário */
  }
  
  .label {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #333;
    width: 100%; /* Garante que o label ocupe toda a largura do formulário */
  }
  
  .input {
    width: 100%; /* Garante que o input ocupe toda a largura do formulário */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .input:focus {
    border-color: rgb(23, 25, 179);
    outline: none; /* Remove o contorno padrão */
  }
  
  .button {
    width: 100%; /* Garante que o botão ocupe toda a largura do formulário */
    padding: 10px 15px;
    font-size: 1.2rem;
    color: white;
    background-color: rgb(23, 25, 179);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px; /* Adiciona um pequeno espaçamento acima do botão */
  }
  
  .button:hover {
    background-color: rgb(15, 17, 120); /* Cor ao passar o mouse */
  }
  
  .error {
    color: red; /* Cor da mensagem de erro */
    margin-top: 10px; /* Espaçamento acima da mensagem */
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .title {
      font-size: 2rem; /* Ajusta o tamanho do título em telas menores */
    }
  
    .formContainer {
      padding: 15px; /* Ajusta o padding do formulário em telas menores */
      width: 90%; /* Garante que o formulário ocupe quase toda a largura */
    }
  
    .button {
      font-size: 1rem; /* Ajusta o tamanho do botão em telas menores */
    }
  }
  